src/main/resources/wsdl/historicoTransacao.wsdl

<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://www.ciandt.com.br/xml/carteirabitcoin"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.ciandt.com.br/xml/carteirabitcoin"
	targetNamespace="http://www.ciandt.com.br/xml/carteirabitcoin">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="http://www.ciandt.com.br/xml/carteirabitcoin">
			<xs:element name="HistoricoTransacaoRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="numeroCarteira" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HistoricoTransacaoResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="numeroCarteira" type="xs:string" />
						<xs:element maxOccurs="unbounded"
							name="historicoTransacoes" type="tns:Transacao" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="Transacao">
				<xs:sequence>
					<xs:element name="valorReal" type="xs:decimal" />
					<xs:element name="valorBitcoin" type="xs:decimal" />
					<xs:element name="cotacaoTransacao" type="xs:decimal" />
					<xs:element name="tipoTransacao"
						type="tns:TipoTransacao" />
					<xs:element name="dataHoraTransacao" type="xs:dateTime" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="TipoTransacao">
				<xs:restriction base="xs:string">
					<xs:enumeration value="COMPRA" />
					<xs:enumeration value="VENDA" />
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="HistoricoTransacaoRequest">
		<wsdl:part element="tns:HistoricoTransacaoRequest"
			name="HistoricoTransacaoRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="HistoricoTransacaoResponse">
		<wsdl:part element="tns:HistoricoTransacaoResponse"
			name="HistoricoTransacaoResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="HistoricoTransacoesPort">
		<wsdl:operation name="HistoricoTransacao">
			<wsdl:input message="tns:HistoricoTransacaoRequest"
				name="HistoricoTransacaoRequest">
			</wsdl:input>
			<wsdl:output message="tns:HistoricoTransacaoResponse"
				name="HistoricoTransacaoResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HistoricoTransacoesPortSoap11"
		type="tns:HistoricoTransacoesPort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="HistoricoTransacao">
			<soap:operation soapAction="" />
			<wsdl:input name="HistoricoTransacaoRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="HistoricoTransacaoResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HistoricoTransacoesPortService">
		<wsdl:port binding="tns:HistoricoTransacoesPortSoap11"
			name="HistoricoTransacoesPortSoap11">
			<soap:address
				location="http://localhost:8084/service/historico-transacoes" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>